@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ecf0f1;
    --border-color: #330009;
    --primary-color: #eb0029;
    --secondary-color: #81162a;
    --text-color: #330009;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

input,
select,
button,
.button {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
}

button,
.button {
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
}

button:hover,
.button:hover {
    background-color: #81162a;
}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

nav {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 10px;
    text-align: left;
}

th {
    background-color: var(--secondary-color);
    color: white;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }
}
